<div class="row nested-fields">
  <div class="col-xs-8">
    <%= f.input :text, as: :text, label: 'Step' %>
  </div>
  <div class="col-xs-2">
    <%= f.input :order, label: 'Order' %>
  </div>
  <div class="col-xs-2 vcenter">
      <%= link_to_remove_association('Delete', f) %>
  </div>
</div>