<div class="swiper-container">
  <div class="swiper-wrapper">
    <% @recipe.instructions.each do |instruction| %>
        <div class="swiper-slide">
          <div class="swiper-photo">
            <%= image_tag instruction.photo.url(:medium) if instruction.photo.exists? %>
          </div>
          <div class="swiper-text">
            <%= instruction.text %>
          </div>
        </div>
    <% end %>
  </div>

  <!-- Pagination dots -->
  <div class="swiper-pagination"></div>

  <!-- Nav buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div>