<div class="page-header">
  <h1>Recipes</h1>
  <%= form_tag '/recipes/search/', method: :get do %>
      <%= text_field_tag 'term', nil, { placeholder: 'Search'}%>
  <% end%>
</div>

<!-- Recipes -->
<ul class="row recipe-list">
    <%= render partial: 'recipe', collection: @recipes %>
</ul>
