.page-header{
	text-align: center;
}

.page-header form #term {
	width: 50%;
}

.navbar {
	background-color: #00504D;
}
.navbar .navbar-brand, .navbar-default .navbar-nav>li>a {
	color: #ffffff;
}

.navbar-default .navbar-nav>.open>a {
    background-color: #00504D;
}

.sidebar-nav {
	padding: 10px;
	background: #F9F9F9;
	height: 100vh;
}
.sidebar-title {
	border-bottom: 2px solid #00504D;
}

