/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.recipe-list {
    list-style-type: none;
}

.recipe-box {
    height: 300px;
    padding: 10px
}

.recipe-box img{
height: 200px;
width: 100%;

}

.recipe-box:hover {
    background: #f6f6f6;
}

.recipe-box:active {
    background: #E9E9E9;
}